* {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  justify-content: center;
}

.drawer {
  display: flex;
  position: fixed;
  height: 100%;
}

.adminPage {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #142d4c;
  align-items: center;
}

.btn1 {
  cursor: pointer;
margin-top:3%;
}

.admin-title {
  color: white;
  font-size: 4em;
  margin-top: 2em;
  
}

.admin-subtitle {
  color: white;
  font-size: 1.5em;
  
}


.splash{
    background-color: #142d4c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.splash-title{
    color: white;
    font-size: 4em;
}

.form-label{
  font-size: 1.5em;
  margin-bottom:10px;
}

.form{
  justify-content: center;
  align-items: left;
  flex-direction: row;
  background: #F2C6A2;
  padding:15px
}

.formArea{
  align-items: center;
  padding:10px 50px;
  justify-content: center;
  display: grid;

}

.formik{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom:20px
}

.allpersonel{
  margin:2em
}



.NoMatch{
  background-color: #142d4c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-404{
  color: white;
}

.detailPage{
  display: flex;
  flex-direction: column;
  background-color: #142d4c;
  height: 100vh;
  align-items: center;
}
.detail-title{
  color: white;
  font-size: 4em;
  margin-top: 0.75em;
  margin-bottom:0.5em
}
@media (max-width: 768px) {
  .detail-title{
    font-size: 4em;
  }

  
}

@media screen and (max-width: 600px) {
  .detail-title{
    font-size: 2em;
    margin: 10px;
  }

  
}
.buttons1{
  justify-content: space-between;
}

.back-btn{
  margin-left: -50em;
}