* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  justify-content: center;
}

.drawer {
  display: flex;
  position: fixed;
  height: 100%;
}

.adminPage {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #142d4c;
}

.btn1 {
  cursor: pointer;
margin-top:3%;
}

.admin-title {
  color: white;
  font-size: 4em;
}


.splash{
    background-color: #142d4c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.splash-title{
    color: white;
    font-size: 4em;
}
