* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.personels {
  color: white;
}

.UserMovements_inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.name{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AllPersonel-add-button {
  border: 1px solid orange;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.active-deactive {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: black;
}

.admin-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.card-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.admin-icon {
  margin-right: 20px;
}


.drawer {
  display: flex;
  position: fixed;
  height: 100%;
}

.adminPage {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 140vh;
  background: #d7f0f4;
  align-items: center;
}

.dcsPage {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #96b9e4;
  align-items: center;
}

.dcsPage-title {
  color: white;
  font-size: 3em;
  margin-top: 2em;
}

.table {
  margin-top: 2em;
  margin-right: 25em;
}


.btn1 {
  cursor: pointer;
  margin-top: 3%;
}
.tum-personel-title{
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  margin-right: 20px;
}
.admin-title {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  margin-right: 45px;
}

.admin-subtitle {
  margin-top: 0.5em;
  font-size: 0.5em;
  color:orange;
  margin-left: 45px;
}


.splash {
  background-color: #b0bec1;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.splash-img{
  width: 80%;
  text-align: center;
}


.splash-title {
  color: white;
  font-size: 4em;
}

.form-label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form {
  justify-content: center;
  align-items: left;
  flex-direction: row;
  background: #F2C6A2;
  padding: 15px
}

.formArea {
  align-items: center;
  padding: 10px 50px;
  justify-content: center;
  display: grid;

}

.formik {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

.allpersonel {
  margin-top: 2em;
}



.NoMatch {
  background-color: #96b9e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.title-404- {
  color: white;
  margin-bottom: 30px;
}

.title-404{
  color: white;

}
.NoMatchTexts{
  font-size: 3em;
}

.cardMedia{
  margin-right: 20px;
}

.card1{
  display: flex;
  flex-direction: row;
  
}

.detailPage {
  display: flex;
  flex-direction: column;
  background-color: #d7f0f4;
  height: 120vh;
  align-items: center;
  text-align: left;
}
.detail-title {
  color: black;
  font-size: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right:15px
}
.detail-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.detail-title-active {
  color: red;
 font-size: 3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em}

.status {
  color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.status-deactive {
  color: grey;
}


.iconbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

@media (max-width: 768px) {
  .detail-title {
    font-size: 4em;
  }


}

@media screen and (max-width: 600px) {
  .detail-title {
    font-size: 2em;
    margin: 10px;
  }

  .NoMatchTexts{
    font-size:1em;
  }

}

.btn-deactive {
  text-decoration: line-through;

}

.detail-page-button{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 1em;
  border: 1px solid orange;
  border-radius:20px;
  justify-content:center;
  text-align: center;
  padding:15px;
  color:black;
  
}

.buttons1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back-btn {
  margin-left: -50em;
}

.personel-ekle-buttons {
  text-align: center;
  margin-top: 15px;
}

.personel-ekle-title {
  color: black;
  font-size: 2.5em;
}

.personel-ekle-submit {
  margin-top: 15px;
}

.personel-ekle-bck-btn {
  margin-left: -12px;
}



.UserMovements {
  background: #d7f0f4;
  background-attachment: fixed;
  height:100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.css-3ihp42-MuiDataGrid-root {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  position: relative;
  border: 2px solid rgb(0, 0, 0) !important;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  outline: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.css-3ihp42-MuiDataGrid-root .MuiDataGrid-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
}
.css-3ihp42-MuiDataGrid-root .MuiDataGrid-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  border-top: 1px solid black !important;
}
.css-3ihp42-MuiDataGrid-root .MuiDataGrid-iconSeparator {
  color: black !important;
}
.css-17jjc08-MuiDataGrid-footerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 52px;
  border-top: 2px solid black !important;
}

.UserMovements_1{
  background: #d7f0f4;
  background-attachment: fixed;
  height:100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.UserMovements_inner_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}




.AllPersonel-page-buttons{
 color:orange;
 text-decoration: none;
  margin-right: 40px;
}

.css-m63z74-MuiButton-root {

  color:orange !important;
}

.css-gpgaox-MuiButton-root {
  color:grey !important;
}


.Addpersonel-page{
  background-color: #d7f0f4;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.MuiButton-textPrimary{
  color:red !important;
}

.MuiButton-outlinedPrimary {
  color: green !important;
}
.loginmovements-button{
  color:green !important;
}

.login-logout-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

