.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 500px 15px 500px ;
    padding: 20px;
}
body{
    background-image: url("https://www.mscteknoloji.com/img/bg/bg1.jpg"); 
    font-size:20px;
}

.title{
    font-size:30px;
    margin: 100px 500px 0px 500px ;
}

@media screen and (max-width: 600px) {
    .box{
        margin: 5px 0px 15px 0px ;
    }
    .title{
        margin: 100px 0px 0px 0px ;
    }
}