.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/bg1.jpg");
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
body{
    font-size:20px;
}

.title{
    font-size:30px;
}
#outlined-basic{
    border: 2px solid black;
    background-color: white;
}
#outlined-basic:hover{
    border: 2px solid black;
    background-color: white;
}


@media screen and (max-width: 600px) {
    .box{
        margin: 5px 0px 15px 0px ;
    }
    .title{
        margin: 100px 0px 0px 0px ;
    }
}