@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap");


img {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 600px) {
  img {
    width: 90%;
  }
  
  .button1{
    background-color: #275087;
    border: 1px solid #f7f7f7;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    width: 80% !important;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
  
  }

  .home{
    margin-top: 20%;
  }
  
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }
}


.home{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custombutton{
  background-color: #275087;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  max-width: 40%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.button1{
  background-color: #275087;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  width: 40%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;

}

.msc-title {
  font-size: 4em;
  font-weight: bold;
  padding-top: 1.80em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.login-button {
  margin-top: 5%;
}

.personal-button {
  margin-bottom: 5%;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {

  .msc-title {
    font-size: 3em;

  }

  body {
    height: 100%;
    width: 100%;
    background-size: auto;
    justify-content: center;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .personal-button {
    margin-bottom: pm;
    font-size: 1.5em;
    padding: 10px
  }
}

@media screen and (max-width: 1024px) {
 

  .home {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}