@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&display=swap");

.home {

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/bg1.jpg");
  background-position: center;
  height: 100vh;
}

.msc-title {
  font-size: 4em;
  font-weight: bold;
  padding-top: 1.80em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.login-button {
  margin-top: 5%;
}

.personal-button {
  margin-bottom: 5%;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {

  .msc-title {
    font-size: 3em;

  }

  body {
    height: 100%;
    width: 100%;
    background-size: auto;
    justify-content: center;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;



  }

  @media screen and (max-width: 1024px) {
    .msc-title {
      font-size: 3em;

    }

    .home {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .personal-button {
    margin-bottom: pm;
    font-size: 1.5em;
    padding: 10px
  }
}

.login-button {
  margin-top: 20pm;
}