.container1 {
  background-color: #142d4c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title1 {
  font-size: 40px;
  margin-top: -1em;
  margin-bottom: 1em;
  border: 2px solid black;
  padding: 3px 8px 3px 8px;
  font-weight: bold;
  color: #3954ee;
}

.users {
  margin-top: 12px;
  color: white;
  font-size: 25px;
}

.btn1 {
  margin-top: 3em;
}
.btn2 {
  margin-bottom: 3em;
}

.btn3{
  margin-bottom:40px
}

.bilgileriguncelle{

  background: #92AED4;
  background-position: center;
  height: 120vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body {
  font-size: 20px;
}
.btn {
  margin: 10px;
}

.btn-1 {
  margin-right: 30px;
  margin-top: 20px;
}
.btn-2 {
  margin-top: 20px;
}
.info{
  justify-content: le
}

.btns-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btns-1 {
  margin-left:0px;
}

.containerdcs{
  background-repeat: no-repeat;
  background-size: cover;
  background: #92AED4;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.docs-title{
  color: white;
  font-size: 2.5em;
  margin-top: 2em;
  margin-bottom: 0.5em
}



