.container1{
    background-color:#142d4c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title1{
    font-size:40px;
    margin-top: -1em;
    margin-bottom: 1em;
    border: 2px solid black;
    padding:3px 8px 3px 8px;
    font-weight: bold;
    color: #3954EE
}

.users{
    margin-top:12px;
    color: white;
    font-size:25px
}

.btn1{
    margin-top:3em;

}
.btn2{
    margin-bottom:3em;
}
