.adminPage {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 120vh;
    background: #d7f0f4;
    align-items: center;
}

.tum-personel-title {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    margin-right: 20px;
}

.admin-card {
    text-decoration: none;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.status-bg-card-deactive {
    background-color: #a09898;
}


.status-deactive {
    text-decoration: line-through;

}
.css-46bh2p-MuiCardContent-root:last-child {
    padding: 12px 20px 10px 20px !important;
}
